<h1>ERROR. </h1><p>Favor, verificar la ruta.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Valor2</th>
            <th scope="col">Valor3</th>
            <th scope="col">Valor4</th>
            <th scope="col">Valor5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">0</th>
            <td>Dos</td>
            <td>Tres</td>
            <td>Cuatro</td>
            <td>Cinco</td>
        </tr>
        <tr>
            <th>1</th>
            <td>Tres</td>
            <td>Tres</td>
            <td>Cuatro</td>
            <td>Tres</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
