<!DOCTYPE html>
<html lang='<%- lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Clientes'}) %>
<body>
    <main class="sesion-login">
        <div class="texto-logo">
            <h1 class="text-center">Shopping Mall <!--span>Bogotá</span--></h1>
        </div>
        <div class="waves">
            <img src="img/login.svg" alt="Imagen Login">
        </div>    
        <div class="login">
            <div class="contenido-login">
                <h2>Inicio de sesión</h2>
                <form class="formulario-login" id="formulario-login">
                    <div class="input-group">
                        <label for="name" class="input-fill">
                            <input type="text" id="name" name="name" required>
                            <span class="input-label">Usuario</span>
                            <i class="fas fa-user"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <label for="password" class="input-fill">
                            <input type="password" id="password" name="password" required>
                            <span class="input-label">Contraseña</span>
                            <i class="fas fa-lock"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <select class="select-campo" name="ubication" id="ubication">
                            <option selected value="all">Seleccione sucursal</option>
                            <option value="bogota">Bogotá</option>
                            <option value="cali">Cali</option>
                            <option value="medellin">Medellín</option>
                        </select>
                        <label for="password" class="input-fill">
                            
                        </label>
                    </div>
                    <a href="#">¿Olvidaste tu usuario o contraseña?</a>
                    <input type="submit" value="Iniciar sesión" class="">
                </form>
            </div>
                
        </div>        
        
    </main>

    <%- include('../template/scripts') %>
    <script>
        $(document).ready(function(){
            const form = $('#formulario-login');
            form.submit( (e)=>{
                //Evitamos el evento submit.
                e.preventDefault();
        
                let name = $('#name').val();
                let password = $('#password').val();
                let ubication = $('#ubication').val();
                login({name, password, ubication});
            });
        });

        function login(data){
            $.ajax({
                type: 'POST',
                url: 'usuarios/login',
                data,
                success: function(res){
                    let value;
                    if( res.success ) value = 'success';
                    else value = 'error';

                    toastr[value](res.msj, res.title);

                    if(res.success) setTimeout( ()=>{window.location.href = 'main'}, 1500)
                },
                error: function(jqXHR, textStatus, errorThrown){
                    toastr.error( jqXHR+textStatus+errorThrown, 'FATAL ERROR');
                }
            });
        }
    </script>
</body>
</html>